<footer class="footer">
    <!-- <ion-row class="footer">
    <ion-col>
        <img (click)="changeLanguage('en')" src="assets/1.jpg">
    </ion-col>
    <ion-col>
        <img (click)="changeLanguage('ar')" src="assets/2.png">
    </ion-col>
  </ion-row> -->

  <div style="float:left;">
    <img src="assets/72x72.png">
  </div>
  <div style="float:left;">
    <span style="margin-left:100px;">WWW.INVITESMARTAPP.COM</span>
  </div>
  <div style="float:right;">
      <ion-icon ios="ios-settings" md="md-settings" style="zoom:3.0; color:#3E51B5;"></ion-icon>
  </div>

</footer>