.choose-button {
    color: white;
    background-color: #3E51B5;
    margin-top: 40px;
    border-radius: 29px;
    padding: 23px;
    font-size: 20px;
    font-family: "oswald";
}
.thumb-nail-button {
    color: white;
    background-color: #3E51B5;
    border-radius: 29px;
    padding: 13px;
    font-size: 13px;
    font-family: "oswald";
    float: left;
    margin-left: 5px;
    margin-top: 8px;
  }
  .sub-header {
      margin-top:10px;
  }