
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
ion-input{
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
  padding: 12px 12px;
  border: 4px solid #989898;
  margin: 0;
}
 input {
   height: 0px !important;
   padding-bottom: 0px !important;
   -width: 80% !important
}
.image-field ion-input {
  height:47px !important;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
  padding: 12px 12px;
  border: 4px solid #989898;
  margin: 0;
 
}
.native-input.sc-ion-input-md {
  width:80 !important;
}
.grid-padding {
  padding: 50px !important;
}
.plus-icon-style {
  color: #3E51B5 !important;
  margin-top: 0px;
  font-size: 13px;
  margin-bottom: 1px;
}
.custom-alertDanger {
  color: greenyellow !important;
}
