
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
 .sub-header {
   --background: #989898;
   color:white;
   margin-top: 0px !important;
 }
 ion-title {
   position: absolute;
   top: 0;
   left: 45;
//    padding: 0 90px 1px;
   width: 100% !important;
   height: 100% !important;
   text-align: center;
   font-family: 'oswald';
   font-weight: normal;

 }
 ion-content ion-toolbar ion-title{
   left: 0;

 }
 .item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
   font-family: 'Oswald' !important;
 }
 .list-md {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0px !important ;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px !important;
}
.ion-list {
  display:contents !important;
}
.buy-guest img {
  max-width: 100%;
  border: 0;
  height: 25px !important;
  font-weight: bold;
}
.button {
  color: white;
  background-color: #3E51B5;
  border-radius: 29px;
  padding: 15px;
  font-size: 18px;
  font-family: "oswald";
  padding: 24px;
  margin: 10px 0px 10px 0px;
    
}
.ion-text-center, [text-center] {
    text-align: center !important;
    width: max-content;
}
.title {
    font-family: "oswald";
    font-size: 16px;
}
.thumb-nail-button {
  color: white;
  background-color: #3E51B5;
  border-radius: 29px;
  padding: 13px;
  font-size: 20px;
  font-family: "oswald";
  float: left;
  margin-left: 5px;
  margin-top: 8px;
}
 
