<ion-content class="centered container">
  <ion-grid class="ion-padding-top grid-padding">
    <ion-row>
      <ion-col class="font-bold mgbottom50 font20">
        {{'page.sign_in_using_your_phone_number' | translate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <form  class="form " class="form app-form-area">
            <ion-list style="margin-bottom:40px !important">
                <ion-radio-group value="email">
                  <ion-item>
                    <ion-label>{{'page.sign_up_with_email' | translate }}</ion-label>
                    <ion-radio slot="start" value="email" (click)="register_type(1)"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>{{'page.sign_up_with_phone' | translate }}</ion-label>
                    <ion-radio slot="start" value="phone" (click)="register_type(2)"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            <div class="row" style="text-align: -webkit-center;" *ngIf="regType == 'phone'">
                <div class="input-group prefix">
                  <ion-input type="text"  [(ngModel)]="phone_no" [ngModelOptions]="{standalone: true}"  placeholder="Phone"></ion-input>
                </div>
              
              </div>
          <div class="row" style="text-align: -webkit-center;" *ngIf="regType == 'email'">
              <div class="input-group prefix">
                <ion-input type="email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email"></ion-input>
              </div>
            
            </div>
        
          <br>
          <span style="padding-top:10px;font-family: 'oswald';padding-left:5px; text-align: center;" *ngIf="regType == 'phone'">{{'page.please_input_your_number' | translate}}</span>
          <br>
          <div *ngIf="isLoader"><ion-spinner name="lines"></ion-spinner></div>
          <div class="row" >
            <button type="submit" (click)="register()" class="btn send-button"
              color="primary"> {{ 'page.send_sms' | translate }}</button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footer class="footer">
  <div style="float:left;">
    <img src="assets/72x72.png">
  </div>
  <div style="float:left;">
    <span class="footer-text"><a href="http://invitesmartapp.com/?reqp=1&reqr="  target="_blank">WWW.INVITESMARTAPP.COM</a></span>
  </div>
  <div style="float:right;margin-top: 15px;">
      <ion-icon routerLink="/setting" ios="ios-settings" md="md-settings" style="zoom:3.0; color:#3E51B5;"></ion-icon>
  </div>

</footer>
  
 