<ion-header class="headertm">
  <!-- <ion-toolbar style="padding-top:10px !important;padding-bottom: 10px !important;">  -->
      <button style="padding-top: 15px !important;
      padding-bottom: 10px !important;
      margin-bottom: 20px;" (click)="goBack()"  class="headertm btn thumb-nail-button"
          color="light"> {{'page.back' | translate}}</button>
  <!-- </ion-toolbar>  -->
</ion-header>
<ion-content class="content-part">
    <ion-toolbar class="sub-header">
        <ion-title>{{'page.please_choose_package' | translate}} </ion-title>
      </ion-toolbar>
        <!-- Item Dividers in a List -->
        <ion-list *ngFor="let invitation of guest_packages">
          <ion-item  (click)="invitation.id == 1 ? create_and_update_invitatin(invitation.isFree): payment()"><ion-label><b style="cursor: pointer;">{{invitation.package_name | uppercase}}</b></ion-label>
            <img src="assets/arrow.png"  style="margin-top:0px;">
            <!-- <ion-icon  name="arrow-forward" ></ion-icon> -->
          </ion-item>
          
        </ion-list>
</ion-content>
<footer class="footer">
    <div style="float:left;">
      <img src="assets/72x72.png">
    </div>
    <div style="float:left;">
      <span class="footer-text"><a href="http://invitesmartapp.com/?reqp=1&reqr="  target="_blank">WWW.INVITESMARTAPP.COM</a></span>
    </div>
    <div style="float:right;margin-top: 15px;">
        <ion-icon routerLink="/setting" ios="ios-settings" md="md-settings" style="zoom:3.0; color:#3E51B5;"></ion-icon>
    </div>
  
  </footer>

